html, body{
	background-color:transparent;
	margin:0px;
	padding:0px;
}
.wrapper{
	position:relative;
	font-family: Verdana, Geneva, sans-serif;
	font-size:14pt;
	overflow:hidden;
	color:white;
	height:100vh;
	width:100vw;
}
.error{
	width:500px;
	padding:10px;
	border:1px solid black;
	background-color:white;
	color:black;
	margin:auto;
	text-align:center;
	box-shadow: 2px 2px 2px #888888;
}
.chat{
	color:white;
	width:100%;
	overflow:hidden;
	font-size:.8em;
	font-family: Verdana, Geneva, sans-serif;
	position:absolute;
	bottom:0px;
	left:0px;
}
.chatmessage{
	background-color:black;
	opacity: .8;
	border-radius: 5px;
	margin:5px;
	padding:7px;
}
.chatusername{
	display:inline-block;
	font-weight:bold;
}
.emoticon{
	position:relative;
	top:5px;
}
.badge{
	display:none
}
.chatusername.Subscriber .badge{
	width:16px;
	height:16px;
	display:inline;
}

/** Role Colors **/
.chatusername.User{
	color: #37aad5;
}
.chatusername.Pro{
	color: #b143d1;
}
.chatusername.Mod, .chatusername.ChannelEditor{
	color: #36e53a;
}
.chatusername.Staff{
	color :#dcb235;
}
.chatusername.Owner{
	color:white;
}
